accelerate==0.27.2
baukit==0.0.1
click==8.1.7
flash_attn==2.5.7
google_api_python_client==2.121.0
httpx==0.27.0
matplotlib==3.8.3
numpy==1.26.4
openai==1.23.2
pandas==2.2.2
protobuf==5.26.1
PyYAML==6.0.1
scikit_learn==1.3.0
torch==2.2.1
tqdm==4.65.0
transformers==4.36.2
